# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Binaries
*.npz
*.faiss

# Misc
.DS_Store
*.log
# Exceptions for example assets
!video-3-load-sentence-transformers-notebook/embeddings.npz
!video-5-build-faiss-index-knn-retrieval/index.faiss
